body{
  background-color: #f00;
}
.container{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0;
  height: 50px;
  background-color: blue;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}

.container div{
  top: 0; bottom: 0;
  padding: 8px;
}

tr, th{
    top: 0; bottom: 0;
    padding:0;
    border: 1px solid yellow;
}

.container a{
  color: white;
  text-decoration: none;
}
