body{
  background-color: #222;
  color: #fff;
  font-family: sans-serif;
}
.container{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 0;
  height: 50px;
  width: 100%;
  background-color: lightblue;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

tr, th{
    top: 0; bottom: 0;
    padding:0;
    border: 1px solid #ff0;
}
.options{
  display: flex;
  flex-flow: row nowrap;
}
.container a{
  display: flex;
  color: #fff;
  text-decoration: none;
  top: 0; bottom: 0;
  padding: 8px;
  border-left: 1px solid black;
  width: 50px;
  text-align: center;
}

.container a:hover{
  color: black;
  text-decoration: none;
  background-color: red;
}
